hola
<div class="row">
    <div *ngFor="let categoria of categoriaService.categorias" class="col-md-3 mb-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card cardStyle">
                            <div class="card-header">{{categoria.nombre}}</div>
                            <div class="card-body">
                                <img src='{{categoria.img}}' width="10%" alt="Manzana">
                                <h3 class="card-title text-end">${{categoria.descripcion}}/Kg</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>