<div class="row">
    <div class="col-md-8 offset-md-2 mb-5">
        <div class="card ">
            <div class="card-header">
                <h4 class="text-center">Productos</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Manzana</div>
                            <div class="card-body">
                                <img src="assets/img/manzana.jpeg" class="img-thumbnail" width="300px" alt="Manzana">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Peras</div>
                            <div class="card-body">
                                <img src="assets/img/pera.jpg" class="img-thumbnail" width="300px" alt="Peras">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>