<div class="container bg-white">
    <div class="form-container row">
        <form class="col-md-6 form-register col-xs-12" id="loginForm">
            <h2> Iniciar Sesion </h2>
            <div class="mb-3">
                <label for="email" class="form-label">Dirección Email :</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Clave :</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="button" class="btn btn-primary" id="login">Iniciar Sesion</button>
            <button type="button" class="btn btn-secondary">Olvide la clave</button>
        </form>
    </div>
</div>